In [1]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(data.table))

In [28]:
iop_phe <- fread(
    '/oak/stanford/groups/mrivas/ukbb24983/phenotypedata/extras/iop/misc/ukb2005693_ukb37855_IOP.phe',
    stringsAsFactors=FALSE,
    data.table=FALSE
) %>%
mutate(
    FID = as.character(FID),
    IID = as.character(IID)    
)

In [19]:
pop_def <- bind_rows(lapply(c('white_british', 'non_british_white', 'e_asian', 's_asian', 'african'), function(pop){
    fread(
        file.path(
            '/oak/stanford/groups/mrivas/ukbb24983',
            'sqc/population_stratification', 
            paste0('ukb24983_', pop, '.phe')
        ),
        stringsAsFactors=FALSE,
        data.table=FALSE,
        colClasses = "character",
        col.names=c('FID', 'IID')
    ) %>%
    mutate(pop = pop)    
    }
))

In [21]:
pop_def%>% count(pop)

  pop               n
1 african             6498
2 e_asian             1154
3 non_british_white  24909
4 s_asian             7885
5 white_british     337151

In [31]:
iop_phe %>% 
inner_join(pop_def, by=c('FID', 'IID')) %>%
count(pop) %>%
arrange(-n)

  pop               n
1 white_british     82253
2 non_british_white  7892
3 s_asian            3672
4 african            3294
5 e_asian             408

In [32]:
iop_phe %>% 
inner_join(pop_def, by=c('FID', 'IID')) %>%
dim()

[1] 97519     9

In [34]:
c(
    exp(log(0.665432) - 1.96 * 0.148821),
    exp(log(0.665432) + 1.96 * 0.148821)
)

[1] 0.4970782 0.8908051