In [1]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(data.table))

In [13]:
merged <- fread('private_data/IOP_pheno_dist.merged.phe', sep='\t', data.table=F, stringsAsFactors = F) %>%
left_join(
    data.frame(
        rs28991009_G = c(0, 1, 2, NA),
        rs28991009 = c('G/G (n = 28)', 'G/T (n = 5,410)', 'T/T (n = 331,239)', NA)
    ),
    by='rs28991009_G'
)

In [18]:
merged %>% count(rs28991009, rs28991009_G)

Warning message:
“Factor `rs28991009` contains implicit NA, consider using `forcats::fct_explicit_na`”

  rs28991009        rs28991009_G n
1 G/G (n = 28)       0               28
2 G/T (n = 5,410)    1             5410
3 T/T (n = 331,239)  2           331239
4 NA                NA              474

In [16]:
p3 <- merged %>% drop_na(rs28991009) %>%
mutate(
    rs28991009 = as.factor(rs28991009)
) %>%
ggplot(aes(x = rs28991009, y = Year_of_birth, color = rs28991009)) + 
geom_violin(trim=FALSE) +
geom_boxplot(width=0.2, outlier.shape=8, outlier.size=1, fill="white")+
theme_bw()+
theme(
#     axis.title.x=element_blank(),
    axis.text.x=element_blank(),
    axis.ticks.x=element_blank(),
    legend.position = 'bottom'
) +
labs(
    y = 'Year of birth',
    x = 'rs28991009'
) + scale_fill_brewer(palette="Dark2")

In [17]:
ggsave('Age_distribution.png', p3)

Saving 6.67 x 6.67 in image

In [24]:
ks.test(
    merged %>% filter(rs28991009_G %in% c(0)) %>% 
    select(Year_of_birth) %>% pull(),
    merged %>% filter(rs28991009_G %in% c(1, 2)) %>% 
    select(Year_of_birth) %>% pull()
)

Warning message in ks.test(merged %>% filter(rs28991009_G %in% c(0)) %>% select(Year_of_birth) %>% :
“p-value will be approximate in the presence of ties”

	Two-sample Kolmogorov-Smirnov test

data:  merged %>% filter(rs28991009_G %in% c(0)) %>% select(Year_of_birth) %>%  and merged %>% filter(rs28991009_G %in% c(1, 2)) %>% select(Year_of_birth) %>%     pull() and     pull()
D = 0.12515, p-value = 0.7729
alternative hypothesis: two-sided

In [25]:
ks.test(
    merged %>% filter(rs28991009_G %in% c(0, 1)) %>% 
    select(Year_of_birth) %>% pull(),
    merged %>% filter(rs28991009_G %in% c(2)) %>% 
    select(Year_of_birth) %>% pull()
)

Warning message in ks.test(merged %>% filter(rs28991009_G %in% c(0, 1)) %>% select(Year_of_birth) %>% :
“p-value will be approximate in the presence of ties”

	Two-sample Kolmogorov-Smirnov test

data:  merged %>% filter(rs28991009_G %in% c(0, 1)) %>% select(Year_of_birth) %>%  and merged %>% filter(rs28991009_G %in% c(2)) %>% select(Year_of_birth) %>%     pull() and     pull()
D = 0.0075352, p-value = 0.9216
alternative hypothesis: two-sided